﻿
<!DOCTYPE html>
<html lang="en">
<head>

   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectScheduleManagement.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjectScheduleManagement.UI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Project">Project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

      <div class="row mr-0">
    <div class="col-3 sidebar-col">
      <ul class="bg-dark sidebar py-4">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Component</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">ChangeLog</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="#">Quick Link</a></li>
        <li><a href="#">Team Overview</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">Single Task</a></li>
        <li><a href="#">Kanban Board</a></li>
      </ul>
    </div>

   
    
     <div class="col-9">
      <div class="main-container">

        <main role="main" class="pb-3">
          @RenderBody()
        </main>

      </div>
        
    </div>


   
   

</div>
  

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjectScheduleManagement.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
