﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

.sidebar-col {
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 250px;
    padding-left: 20px;
    
}

    .sidebar li {
        margin-top: 15px;
    }

        .sidebar li a {
            color: white;
        }

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

ul.avatars {
    display: flex;
    
    margin-bottom: 0;
}

.btn-round {
    border-radius: 50%;
}

.nav-fill {
    background-color: gainsboro;
}

    .nav-fill li a {
        font-weight: 500;
    }

.content-list-head {
    justify-content: space-between;
    align-items: center;
}

.row {
    margin-right: 0;
}

.btn-options {
    color: black;
}

.card-list {
    background-color: gainsboro;
}

.custom-control {
    padding-left: 0;
}

.avatar-lg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.media-member {
    display: flex;
    align-items: center;
}

    .media-member img {
        margin-right: 0.5rem;
    }
