﻿@using ProjectScheduleManagement.DTO.Projects
@model IList<ProjectDTO>
@{
    ViewData["Title"] = "Home Page";
}
<div class="navbar bg-white breadcrumb-bar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Overview</a>
            </li>
            <li class="breadcrumb-item">
                <a href="pages-app.html#">App Pages</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Team</li>
        </ol>
    </nav>


    <div class="dropdown">
        <button class="btn btn-round" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-gear"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
            <a class="dropdown-item" href="#">Share</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">Leave</a>
        </div>
    </div>

</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
            <div class="page-header">
                <h1>Medium Rare ☕</h1>
                <p class="lead">A small web studio crafting lovely template products.</p>
                <div class="d-flex align-items-center ">
                    <ul class="avatars mb-0 mr-1">

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Claire Connors">
                                <img alt="Claire Connors" class="avatar" src="~/assets/alex4.jpg">
                            </a>
                        </li>


                    </ul>
                    <button class="btn btn-round" data-toggle="modal" data-target="#user-invite-modal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <hr>
            <ul class="nav nav-tabs nav-fill p-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="projects" role="tabpanel" data-filter-list="content-list-body">
                    <div class="content-list">
                        <div class="row content-list-head my-4">
                            <div class="col-auto d-flex">
                                <h3>Projects</h3>
                                <button class="btn btn-round ml-2" data-toggle="modal" data-target="#project-add-modal">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <form class="col-md-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-filter"></i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter projects" aria-label="Filter Projects">
                                </div>
                            </form>
                        </div>
                        <!--end of content list head-->
                        <div class="content-list-body row filter-list-1655298662988">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-6">
                                <div class="card card-project">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="card-title">
                                                <a href="#"><h5 data-filter-by="text" class="H5-filter-by-text text-dark">@item.Name</h5></a>
                                            </div>
                                            <div class="dropdown card-options">
                                                <button class="btn-options btn btn-link text-dark" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </button>
                                               <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                                                </div>
                                            </div>

                                        </div>
                                        <ul class="avatars my-3">

                                            <li>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Kenny">
                                                    <img alt="Kenny Tran" class="avatar filter-by-alt" src="~/assets/alex4.jpg" data-filter-by="alt">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Peggy">
                                                    <img alt="Peggy Brown" class="avatar filter-by-alt" src="~/assets/alex4.jpg" data-filter-by="alt">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" data-toggle="tooltip" title="Ravi">
                                                    <img alt="Ravi Singh" class="avatar filter-by-alt" src="~/assets/alex4.jpg" data-filter-by="alt">
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="card-meta d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-list-check"></i>
                                                <span class="text-small ml-2">6/10</span>
                                            </div>
                                            <span class="text-small SPAN-filter-by-text" data-filter-by="text">Due 4 days</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            



                        </div>
                        <!--end of content list body-->
                    </div>
                    <!--end of content list-->
                </div>
                <!--end of tab-->
                <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                    <div class="content-list">
                        <div class="row content-list-head my-3">
                            <div class="col-auto d-flex align-items-center  ">
                                <h3>Members</h3>
                                <button class="btn btn-round ml-2" data-toggle="modal" data-target="#user-invite-modal">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <form class="col-md-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-filter"></i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                </div>
                            </form>
                        </div>
                        <!--end of content list head-->
                        <div class="content-list-body row filter-list-1655298662986">
                            <div class="col-6 mb-3">
                                <a class="media media-member " href="#">
                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar avatar-lg">
                                    <div class="media-body">
                                        <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">Claire Connors</h6>
                                        <span data-filter-by="text" class="text-body SPAN-filter-by-text">Administrator</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-6 mb-3">
                                <a class="media media-member " href="#">
                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar avatar-lg">
                                    <div class="media-body">
                                        <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">Claire Connors</h6>
                                        <span data-filter-by="text" class="text-body SPAN-filter-by-text">Administrator</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-6 mb-3">
                                <a class="media media-member " href="#">
                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar avatar-lg">
                                    <div class="media-body">
                                        <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">Claire Connors</h6>
                                        <span data-filter-by="text" class="text-body SPAN-filter-by-text">Administrator</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!--end of content list-->
                </div>
            </div>
            <form class="modal fade" id="user-invite-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Invite Users</h5>
                            <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <div class="modal-body">
                            <p>Send an invite link via email to add members to this team</p>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Recipient email address" aria-label="Recipient email address">
                                </div>
                                <div class="text-right text-small mt-2">
                                    <a href="#" role="button">Add another recipient</a>
                                </div>
                            </div>
                        </div>
                        <!--end of modal body-->
                        <div class="modal-footer">
                            <button role="button" class="btn btn-primary" type="submit">
                                Invite users
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form class="modal fade" id="team-manage-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Manage Team</h5>
                            <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="team-manage-details-tab" data-toggle="tab" href="#team-manage-details" role="tab" aria-controls="team-manage-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="team-manage-members-tab" data-toggle="tab" href="#team-manage-members" role="tab" aria-controls="team-manage-members" aria-selected="false">Members</a>
                            </li>
                        </ul>
                        <div class="modal-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="team-manage-details" role="tabpanel">
                                    <h6>Team Details</h6>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Name</label>
                                        <input class="form-control col" type="text" placeholder="Team name" name="team-name" value="Medium Rare">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3">Description</label>
                                        <textarea class="form-control col" rows="3" placeholder="Team description" name="team-description">A small web studio crafting lovely template products.</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="team-manage-members" role="tabpanel">
                                    <div class="users-manage" data-filter-list="form-group-users">
                                        <div class="mb-3">
                                            <ul class="avatars ">

                                                <li>
                                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-filter"></i>
                                                </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                        </div>
                                        <div class="form-group-users filter-list-1655328248212">
                                            <div class="custom-control custom-checkbox my-3 d-flex justify-content-between align-items-center">

                                                <label class="" for="user-manage-1">
                                                    <span class="d-flex align-items-center">
                                                        <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                                        <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                                    </span>
                                                </label>
                                                <input type="checkbox" class="" id="user-manage-1" checked="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of modal body-->
                        <div class="modal-footer">
                            <button role="button" class="btn btn-primary" type="submit">
                                Done
                            </button>
                        </div>
                    </div>
                </div>
            </form>

           @*Add project*@
           
            <form class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true" asp-controller="Home" asp-action="Create" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Project</h5>
                            <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-add-members-tab" data-toggle="tab" href="#project-add-members" role="tab" aria-controls="project-add-members" aria-selected="false">Members</a>
                            </li>
                        </ul>
                        <div class="modal-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                    <h6>General Details</h6>
                                    <div class="form-group row mr-0 align-items-center">
                                        <label  class="col-3">Name</label>
                                        <input class="form-control col" type="text" placeholder="Project name" id="Name" name="Name">
                                    </div>
                                    <div class="form-group row mr-0">
                                        <label class="col-3">Description</label>
                                        <textarea class="form-control col" rows="3" placeholder="Project description" id="Description" name="Description"></textarea>
                                    </div>
                                    <hr>
                                    <h6>Timeline</h6>
                                    <div class="form-group row mr-0 align-items-center" data-provide="datepicker">
                                        <label class="col-3">Start Date</label>
                                        <input class="form-control col flatpickr-input " type="date" name="StartDate"  data-flatpickr="" data-default-date="2021-04-21" data-alt-input="true" >
                                    </div>
                                    <div class="form-group row mr-0 align-items-center" data-provide="datepicker">
                                        <label class="col-3">Due Date</label>
                                        <input class="form-control col flatpickr-input " type="date" name="EndDate" data-flatpickr="" data-default-date="2021-09-15" data-alt-input="true" >
                                    </div>
                                    <div class="alert alert-warning text-small" role="alert">
                                        <span>You can change due dates at any time.</span>
                                    </div>
                                    <hr>
                                    <h6>Visibility</h6>
                                    <div class="row text-center">
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-everyone" name="visibility" class="custom-control-input" checked="">
                                                <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-members" name="visibility" class="custom-control-input">
                                                <label class="custom-control-label" for="visibility-members">Members</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-me" name="visibility" class="custom-control-input">
                                                <label class="custom-control-label" for="visibility-me">Just me</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="project-add-members" role="tabpanel">
                                    <div class="users-manage" data-filter-list="form-group-users">
                                        <div class="mb-3">
                                            <ul class="avatars  d-flex justify-content-center">

                                                <li>
                                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                                </li>

                                                <li>
                                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-filter"></i>
                                                </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                        </div>
                                        <div class="form-group-users filter-list-1655298662981 mt-4">
                                            <div class="custom-control custom-checkbox d-flex justify-content-between aligon-items-center">
                                               
                                                <label class="" for="project-user-1">
                                                    <span class="d-flex align-items-center">
                                                        <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                                        <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                                    </span>
                                                </label>
                                                 <input type="checkbox"  id="project-user-1" checked="">
                                            </div>


                                            <div class="custom-control custom-checkbox d-flex justify-content-between aligon-items-center">
                                               
                                                <label class="" for="project-user-1">
                                                    <span class="d-flex align-items-center">
                                                        <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                                        <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                                    </span>
                                                </label>
                                                 <input type="checkbox"  id="project-user-12" checked="">
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of modal body-->
                        <div class="modal-footer">
                            <button role="button" class="btn btn-primary" type="submit">
                                Create Project
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            @* Update Project *@
            <form class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true" asp-controller="Home" asp-action="Create" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Project</h5>
                            <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-add-members-tab" data-toggle="tab" href="#project-add-members" role="tab" aria-controls="project-add-members" aria-selected="false">Members</a>
                            </li>
                        </ul>
                        <div class="modal-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                    <h6>General Details</h6>
                                    <div class="form-group row mr-0 align-items-center">
                                        <label  class="col-3">Name</label>
                                        <input class="form-control col" type="text" placeholder="Project name" id="Name" name="Name">
                                    </div>
                                    <div class="form-group row mr-0">
                                        <label class="col-3">Description</label>
                                        <textarea class="form-control col" rows="3" placeholder="Project description" id="Description" name="Description"></textarea>
                                    </div>
                                    <hr>
                                    <h6>Timeline</h6>
                                    <div class="form-group row mr-0 align-items-center" data-provide="datepicker">
                                        <label class="col-3">Start Date</label>
                                        <input class="form-control col flatpickr-input " type="date" name="StartDate"  data-flatpickr="" data-default-date="2021-04-21" data-alt-input="true" >
                                    </div>
                                    <div class="form-group row mr-0 align-items-center" data-provide="datepicker">
                                        <label class="col-3">Due Date</label>
                                        <input class="form-control col flatpickr-input " type="date" name="EndDate" data-flatpickr="" data-default-date="2021-09-15" data-alt-input="true" >
                                    </div>
                                    <div class="alert alert-warning text-small" role="alert">
                                        <span>You can change due dates at any time.</span>
                                    </div>
                                    <hr>
                                    <h6>Visibility</h6>
                                    <div class="row text-center">
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-everyone" name="visibility" class="custom-control-input" checked="">
                                                <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-members" name="visibility" class="custom-control-input">
                                                <label class="custom-control-label" for="visibility-members">Members</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-me" name="visibility" class="custom-control-input">
                                                <label class="custom-control-label" for="visibility-me">Just me</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="project-add-members" role="tabpanel">
                                    <div class="users-manage" data-filter-list="form-group-users">
                                        <div class="mb-3">
                                            <ul class="avatars  d-flex justify-content-center">

                                                <li>
                                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                                </li>

                                                <li>
                                                    <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-filter"></i>
                                                </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                        </div>
                                        <div class="form-group-users filter-list-1655298662981 mt-4">
                                            <div class="custom-control custom-checkbox d-flex justify-content-between aligon-items-center">
                                               
                                                <label class="" for="project-user-1">
                                                    <span class="d-flex align-items-center">
                                                        <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                                        <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                                    </span>
                                                </label>
                                                 <input type="checkbox"  id="project-user-1" checked="">
                                            </div>


                                            <div class="custom-control custom-checkbox d-flex justify-content-between aligon-items-center">
                                               
                                                <label class="" for="project-user-1">
                                                    <span class="d-flex align-items-center">
                                                        <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                                        <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                                    </span>
                                                </label>
                                                 <input type="checkbox"  id="project-user-12" checked="">
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of modal body-->
                        <div class="modal-footer">
                            <button role="button" class="btn btn-primary" type="submit">
                                Create Project
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

