﻿ 
<div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Overview</a>
          </li>
          <li class="breadcrumb-item"><a href="pages-app.html#">App Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Project</li>
        </ol>
      </nav>

      <div class="dropdown">
        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Project</a>
          <a class="dropdown-item" href="#">Share</a>
          <a class="dropdown-item" href="#">Mark as Complete</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="#">Archive</a>

        </div>
      </div>

    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header">
            <h1>Brand Concept and Design</h1>
            <p class="lead">Research, ideate and present brand concepts for client consideration</p>
            <div class="d-flex align-items-center ">
              <ul class="avatars mb-0 mr-1">

                  <li>
                      <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Claire Connors">
                          <img alt="Claire Connors" class="avatar" src="~/assets/alex4.jpg">
                      </a>
                  </li>


              </ul>
              <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                  <i class="fa-solid fa-plus"></i>
              </button>
          </div>
            <div class="my-3">
              <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width:25%;"></div>
              </div>
              <div class="d-flex justify-content-between text-small">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-list-check mr-1"></i>
                  <span >3/12</span>
                </div>
                <span>Due 9 days</span>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs nav-fill mb-3 p-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tasks" role="tabpanel" data-filter-list="card-list-body">
              <div class="row content-list-head">
                <div class="col-auto d-flex">
                  <h3 class="mr-1">Tasks</h3>
                  <button class="btn btn-round" data-toggle="modal" data-target="#task-add-modal">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <form class="col-md-auto">
                  <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa-solid fa-filter"></i>
                      </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Filter tasks" aria-label="Filter Tasks">
                  </div>
                </form>
              </div>
              <!--end of content list head-->
              <div class="content-list-body my-3">
                <div class="card-list p-2">
                  <div class="card-list-head d-flex justify-content-between align-items-center">
                    <h6>List Tasks</h6>
                    <div class="dropdown">
                      <button class="btn-options btn btn-link text-dark" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Rename</a>
                        <a class="dropdown-item text-danger" href="#">Archive</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-list-body filter-list-1655328248225"><div class="card card-task">
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title">
                          <a href="#"><h6 data-filter-by="text" class="H6-filter-by-text">Client objective meeting</h6></a>
                          <span class="text-small">Today</span>
                        </div>
                        <div class="card-meta d-flex justify-content-between align-items-center">
                          <ul class="avatars">
                            <li>
                              <a href="#" data-toggle="tooltip" title="Kenny">
                                <img alt="Kenny Tran" class="avatar" src="~/assets/alex4.jpg">
                              </a>
                            </li>

                            <li>
                              <a href="#" data-toggle="tooltip" title="Kenny">
                                <img alt="Kenny Tran" class="avatar" src="~/assets/alex4.jpg">
                              </a>
                            </li>
                          </ul>
                          <div class="d-flex align-items-center mx-4">
                            <i class="fa-solid fa-list-check mr-1"></i>
                            <span>3/4</span>
                          </div>
                          <div class="dropdown card-options">
                            <button class="btn-options btn btn-link" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Mark as done</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item text-danger" href="#">Archive</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </div>
                <!--end of content list body-->
              </div>
              <!--end of content list-->
            </div>
            <!--end of tab-->
            <div class="tab-pane fade" id="files" role="tabpanel" data-filter-list="dropzone-previews">
              <div class="content-list">
                <div class="row content-list-head">
                  <div class="col-auto">
                    <h3>Files</h3>
                  </div>
                  <form class="col-md-auto">
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa-solid fa-filter"></i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter files" aria-label="Filter Tasks">
                    </div>
                  </form>
                </div>
                <!--end of content list head-->
                <div class="content-list-body row">
                  <div class="col">
                    <ul class="d-none dz-template">
                      <li class="list-group-item dz-preview dz-file-preview">
                        <div class="media align-items-center dz-details">
                          <ul class="avatars">
                            <li>
                              <div class="avatar bg-primary dz-file-representation">
                                <i class="material-icons">attach_file</i>
                              </div>
                            </li>
                            <li>
                              <img alt="David Whittaker" src="~/assets/img/avatar-male-4.jpg" class="avatar" data-title="David Whittaker" data-toggle="tooltip">
                            </li>
                          </ul>
                          <div class="media-body d-flex justify-content-between align-items-center">
                            <div class="dz-file-details">
                              <a href="#" class="dz-filename">
                                <span data-dz-name=""></span>
                              </a>
                              <br>
                              <span class="text-small dz-size" data-dz-size=""></span>
                            </div>
                            <img alt="Loader" src="~/assets/img/loader.svg" class="dz-loading">
                            <div class="dropdown">
                              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Download</a>
                                <a class="dropdown-item" href="#">Share</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#" data-dz-remove="">Delete</a>
                              </div>
                            </div>
                            <button class="btn btn-danger btn-sm dz-remove" data-dz-remove="">
                              Cancel
                            </button>
                          </div>
                        </div>
                        <div class="progress dz-progress">
                          <div class="progress-bar dz-upload" data-dz-uploadprogress=""></div>
                        </div>
                      </li>
                    </ul>
                    <form class="dropzone dz-clickable my-4">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                    </form>

                    <ul class="list-group list-group-activity dropzone-previews flex-column-reverse filter-list-1655328248218">
                     
                        <li class="list-group-item" data-t="null" data-i="null" data-l="null" data-e="null">
                        <div class="media align-items-center">
                          <ul class="avatars mr-3">
                            <li>
                              <div class="avatar bg-primary text-center text-light">
                                <i class="fa-solid fa-file"></i>
                              </div>
                            </li>
                            <li>
                              <img alt="David Whittaker" src="~/assets/alex4.jpg" class="avatar filter-by-data-title" data-title="David Whittaker" data-toggle="tooltip" data-filter-by="data-title">
                            </li>
                          </ul>
                          <div class="media-body d-flex justify-content-between align-items-center">
                            <div>
                              <a href="#" data-filter-by="text" class="A-filter-by-text">Branding-Proforma</a>
                              <br>
                              <span class="text-small SPAN-filter-by-text" data-filter-by="text">15kb Text Document</span>
                            </div>
                            <div class="dropdown">
                              <button class="btn-options btn btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Download</a>
                                <a class="dropdown-item" href="#">Share</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li></ul>
                  </div>
                </div>
              </div>
              <!--end of content list-->
            </div>
            <div class="tab-pane fade" id="activity" role="tabpanel" data-filter-list="list-group-activity">
              <div class="content-list">
                <div class="row content-list-head my-3">
                  <div class="col-auto">
                    <h3>Activity</h3>
                  </div>
                  <form class="col-md-auto">
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa-solid fa-filter"></i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter activity" aria-label="Filter activity">
                    </div>
                  </form>
                </div>
                <!--end of content list head-->
                <div class="content-list-body">
                  <ol class="list-group list-group-activity filter-list-1655328248214"><li class="list-group-item">
                      <div class="media align-items-center">
                        <ul class="avatars mr-2">
                          <li>
                            <div class="avatar bg-primary text-center text-light">
                              <i class="fa-solid fa-list-check"></i>
                            </div>
                          </li>
                          <li>
                            <img alt="Claire" src="~/assets/alex4.jpg" class="avatar filter-by-alt" data-filter-by="alt">
                          </li>
                        </ul>
                        <div class="media-body">
                          <div>
                            <span class="h6 SPAN-filter-by-text" data-filter-by="text">Claire</span>
                            <span data-filter-by="text" class="SPAN-filter-by-text">completed the task</span><a href="#" data-filter-by="text" class="A-filter-by-text">Set up client chat channel</a>
                          </div>
                          <span class="text-small SPAN-filter-by-text" data-filter-by="text">Just now</span>
                        </div>
                      </div>
                    </li></ol>
                </div>
              </div>
              <!--end of content list-->
            </div>
          </div>
          <form class="modal fade" id="user-manage-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Manage Users</h5>
                  <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
                <!--end of modal head-->
                <div class="modal-body">
                  <div class="users-manage" data-filter-list="form-group-users">
                    <div class="mb-3">
                      <ul class="avatars justify-content-center align-items-center">

                        <li>
                          <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                        </li>

                        <li>
                          <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                        </li>

                       
                      </ul>
                    </div>
                    <div class="input-group input-group-round">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa-solid fa-filter"></i>
                        </span>
                      </div>
                      <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                    </div>
                    <div class="form-group-users filter-list-1655328248212">
                      <div class="custom-control custom-checkbox my-3 d-flex justify-content-between align-items-center">
                     
                        <label class="" for="user-manage-1">
                          <span class="d-flex align-items-center">
                            <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                            <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                          </span>
                        </label>
                        <input type="checkbox" class="" id="user-manage-1" checked="">
                      </div>

                    </div>
                  </div>
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                  <button role="button" class="btn btn-primary" type="submit">
                    Done
                  </button>
                </div>
              </div>
            </div>
          </form>
          <form class="modal fade" id="project-edit-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Project</h5>
                  <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
                <!--end of modal head-->
                <ul class="nav nav-tabs nav-fill" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="project-edit-details-tab" data-toggle="tab" href="#project-edit-details" role="tab" aria-controls="project-edit-details" aria-selected="true">Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="project-edit-members-tab" data-toggle="tab" href="#project-edit-members" role="tab" aria-controls="project-edit-members" aria-selected="false">Members</a>
                  </li>
                </ul>
                <div class="modal-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="project-edit-details" role="tabpanel">
                      <h6>General Details</h6>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Name</label>
                        <input class="form-control col" type="text" value="Brand Concept and Design" name="project-name">
                      </div>
                      <div class="form-group row">
                        <label class="col-3">Description</label>
                        <textarea class="form-control col" rows="3" placeholder="Project description" name="project-description">Research, ideate and present brand concepts for client consideration</textarea>
                      </div>
                      <hr>
                      <h6>Timeline</h6>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Start Date</label>
                        <input class="form-control col flatpickr-input" type="hidden" name="project-start" placeholder="Select a date" data-flatpickr="" data-default-date="2021-04-21" data-alt-input="true" value="2021-04-21"><input class="form-control col flatpickr-input form-control input" placeholder="Select a date" tabindex="0" type="text" readonly="readonly">
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Due Date</label>
                        <input class="form-control col flatpickr-input" type="hidden" name="project-due" placeholder="Select a date" data-flatpickr="" data-default-date="2021-09-15" data-alt-input="true" value="2021-09-15"><input class="form-control col flatpickr-input form-control input" placeholder="Select a date" tabindex="0" type="text" readonly="readonly">
                      </div>
                      <div class="alert alert-warning text-small" role="alert">
                        <span>You can change due dates at any time.</span>
                      </div>
                      <hr>
                      <h6>Visibility</h6>
                      <div class="row">
                        <div class="col">
                          <div class="custom-control pl-4 custom-radio ">
                            <input type="radio" id="visibility-everyone" name="visibility" class="custom-control-input" checked="">
                            <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="custom-control  pl-4  custom-radio">
                            <input type="radio" id="visibility-members" name="visibility" class="custom-control-input">
                            <label class="custom-control-label" for="visibility-members">Members</label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="custom-control  pl-4  custom-radio">
                            <input type="radio" id="visibility-me" name="visibility" class="custom-control-input">
                            <label class="custom-control-label" for="visibility-me">Just me</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="project-edit-members" role="tabpanel">
                      <div class="users-manage" data-filter-list="form-group-users">
                        <div class="mb-3">
                          <ul class="avatars justify-content-center align-items-center">
    
                            <li>
                              <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                            </li>
    
                            <li>
                              <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                            </li>
    
                           
                          </ul>
                        </div>
                        <div class="input-group input-group-round">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa-solid fa-filter"></i>
                            </span>
                          </div>
                          <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                        </div>
                        <div class="form-group-users filter-list-1655328248212">
                          <div class="custom-control custom-checkbox my-3 d-flex justify-content-between align-items-center">
                         
                            <label class="" for="user-manage-1">
                              <span class="d-flex align-items-center">
                                <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                              </span>
                            </label>
                            <input type="checkbox" class="" id="user-manage-1" checked="">
                          </div>
    
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                  <button role="button" class="btn btn-primary" type="submit">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>

          <form class="modal fade" id="task-add-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">New Task</h5>
                  <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
                <!--end of modal head-->
                <ul class="nav nav-tabs nav-fill" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="task-add-members-tab" data-toggle="tab" href="#task-add-members" role="tab" aria-controls="task-add-members" aria-selected="false">Members</a>
                  </li>
                </ul>
                <div class="modal-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                      <h6>General Details</h6>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Name</label>
                        <input class="form-control col" type="text" placeholder="Task name" name="task-name">
                      </div>
                      <div class="form-group row">
                        <label class="col-3">Description</label>
                        <textarea class="form-control col" rows="3" placeholder="Task description" name="task-description"></textarea>
                      </div>
                      <hr>
                      <h6>Timeline</h6>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Start Date</label>
                        <input class="form-control col flatpickr-input" type="hidden" name="task-start" placeholder="Select a date" data-flatpickr="" data-default-date="2021-04-21" data-alt-input="true" value="2021-04-21"><input class="form-control col flatpickr-input form-control input" placeholder="Select a date" tabindex="0" type="text" readonly="readonly">
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-3">Due Date</label>
                        <input class="form-control col flatpickr-input" type="hidden" name="task-due" placeholder="Select a date" data-flatpickr="" data-default-date="2021-09-15" data-alt-input="true" value="2021-09-15"><input class="form-control col flatpickr-input form-control input" placeholder="Select a date" tabindex="0" type="text" readonly="readonly">

                      </div>
                      <div class="alert alert-warning text-small" role="alert">
                        <span>You can change due dates at any time.</span>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="task-add-members" role="tabpanel">
                      <div class="users-manage" data-filter-list="form-group-users">
                        <div class="mb-3">
                          <ul class="avatars justify-content-center align-items-center">
    
                            <li>
                              <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                            </li>
    
                            <li>
                              <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                            </li>
    
                           
                          </ul>
                        </div>
                        <div class="input-group input-group-round">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa-solid fa-filter"></i>
                            </span>
                          </div>
                          <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                        </div>
                        <div class="form-group-users filter-list-1655328248212">
                          <div class="custom-control custom-checkbox my-3 d-flex justify-content-between align-items-center">
                         
                            <label class="" for="user-manage-1">
                              <span class="d-flex align-items-center">
                                <img alt="Claire Connors" src="~/assets/alex4.jpg" class="avatar mr-2">
                                <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                              </span>
                            </label>
                            <input type="checkbox" class="" id="user-manage-1" checked="">
                          </div>
    
                        </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                  <button role="button" class="btn btn-primary" type="submit">
                    Create Task
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>